<div class="container-fluid">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
			<div class="panel panel-primary">
				<div class="panel panel-heading" style="text-align: center; font-size: 20px;">Formulario de Registro</div>
				<div class="panel panel-body" ng-controller='ctrl2'>
					<form class="form-inline" name="myForm" ng-submit="add">

						<div class="form-group">
							<label>Nombre: </label><input class="form-control" type="text" name="user" ng-model="user.name" required />
							<span style="color: red" ng-show="myForm.user.$dirty && myForm.user.$invalid ">
								<span style="color: red" ng-show="myForm.user.$error.text">*Introduce un nombre valido</span></span>
							</div><br>

							<div class="form-group">
								<label>Edad: </label><input class="form-control" type="number" name="edad" ng-model="user.edad" required />
								<span style="color: red" ng-show="myForm.edad.$dirty && myForm.edad.$invalid ">
									<span style="color: red" ng-show="myForm.edad.$error.number">*Introduce una edad valida</span></span>
								</div><br>

								<div class="form-group">
									<label>Contraseña: </label><input class="form-control" type="password" name="pass" ng-model="pass" required />
									<span style="color: red" ng-show="myForm.pass.$dirty && myForm.pass.$invalid ">
										<span style="color: red" ng-show="myForm.pass.$error.password">*Introduce una contraseña valida</span></span>
									</div><br>

									<div class="form-group">
										<label>Email: </label><input class="form-control" type="email" name="mail" ng-model="user.mail" required />
										<span style="color: red" ng-show="myForm.mail.$dirty && myForm.mail.$invalid ">
											<span style="color: red" ng-show="myForm.mail.$error.email">*Introduce un mail valido</span></span>
										</div><br><br>

										<button type="submit" class="btn btn-primary btn-block" ng-disabled="myForm.user.$error.required || myForm.user.$invalid || myForm.edad.$error.required || myForm.edad.$invalid || myForm.pass.$error.required || myForm.pass.$invalid || myForm.mail.$error.required || myForm.mail.$invalid ">Registrar Usuario</button>
									</form>
								</div>
							</div>	
						</div>
					</div>
				</div>


